<% content_for :header_tags do %>
<%= stylesheet_link_tag 'ppms.css', :plugin => 'ppms', :media => 'all' %>
<% end %>

<h2><%= l(:ppms_mailer_title) %></h2>

<% if @sent_to.empty? %>
    <p><%= l(:ppms_mailer_messages_none) %></p>
<% else %>
    <% successful = @sent_to.select { |leader, state| state == "Sent" } %>
    <% failed = @sent_to.select { |leader, state| state != "Sent" } %>

    <% case successful.size %>
        <% when 0 %>
            <% nil %>
        <% when 1 %>
            <p><%= l(:ppms_mailer_messages_success_one) %></p>
        <% else %>
            <p><%= l(:ppms_mailer_messages_success_many, :count => successful.size) %></p>
    <% end %>
    <% if not successful.empty? %>
        <ul>
            <% successful.keys.each do |leader| %>
                <li><%= leader %></li>
            <% end %>
        </ul>
    <% end %>

    <% case failed.size %>
        <% when 0 %>
            <% nil %>
        <% when 1 %>
            <p><%= l(:ppms_mailer_messages_fail_one) %></p>
        <% else %>
            <p><%= l(:ppms_mailer_messages_fail_many, :count => failed.size) %></p>
    <% end %>
    <% if not failed.empty? %>
        <ul>
            <% failed.each do |leader, message| %>
                <li><%= leader %>: <%= message %></li>
            <% end %>
        </ul>
        <p><%= l(:ppms_mailer_failure_reasons) %></p>
    <% end %>
<% end %>
