<% content_for :header_tags do %>
<%= stylesheet_link_tag 'ppms.css', :plugin => 'ppms', :media => 'all' %>
<% end %>

<h2><%= l(:ppms_mailer_title) %></h2>

<% if @issues_by_group.empty? %>
    <p><%= l(:ppms_mailer_no_orders) %></p>
<% else %>
    <%= form_tag '/ppms/order_mailer' do %>
        <p>
            <%= submit_tag l(:ppms_mailer_send_button) %>
        </p>
    <% end %>

    <% @issues_by_group.each do |group_id, group_struct| %>
        <% ppms_group = group_struct.group %>
        <% issue_ids = group_struct.issues.keys.sort.reverse %>

        <h3><%= ppms_group['unitname'] %></h3>

        <table class="ppms_report" style="width: 100%">
            <thead>
                <th><%= l(:ppms_mailer_label_issue) %></th>
                <th><%= l(:ppms_mailer_label_experiment) %></th>
                <th><%= l(:ppms_mailer_label_researcher) %></th>
                <th><%= l(:ppms_mailer_label_order) %></th>
                <th><%= l(:ppms_mailer_label_time) %></th>
                <th><%= l(:ppms_mailer_label_cost) %></th>
                <th><%= l(:ppms_mailer_label_time) %></th>
            </thead>
            <tbody>
                <% issue_ids.each do |issue_id| %>
                    <% issue = group_struct.issues[issue_id] %>
                    <% experiment_type = issue.custom_values.select { |cv| cv.custom_field_id == @experiment_type_field.id }.first&.value %>
                    <% researcher = issue.custom_values.select { |cv| cv.custom_field_id == @researcher_field.id }.first&.value %>

                    <% group_struct.orders_by_issue[issue.id].each do |order_id, ppms_order| %>
                        <% time_orders = group_struct.time_entries[issue.id].select { |teo| teo.order_id == order_id } %>
                        <% total_time = time_orders.inject(0.0) { |sum, teo| sum + teo.time_entry.hours } %>
                        <tr>
                            <td><abbr title="<%= issue.subject %>"><a href="/issues/<%= issue.id %>"><%= issue.id %></a></abbr></td>
                            <td><%= experiment_type %></td>
                            <td><abbr title="<%= issue.project.name %>"><%= researcher %></abbr></td>
                            <td><a href="<%= ppms_url(order_id) %>" target="_blank"><%= order_id %></a></td>
                            <td><%= hours_minutes(total_time) %></td>
                            <td>&pound;<%= '%.2f' % ppms_order['Cost'].to_f %></td>
                            <td>
                                <% time_orders.each do |entry| %>
                                    <%= hours_minutes(entry.time_entry.hours) %> <%= entry.time_entry.user %><br />
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>

        <br/>
    <% end %>

    <hr/>

    <h3><%= l(:ppms_mailer_raw_data) %></h3>

    <table class="ppms_report">
        <thead>
            <th><%= l(:ppms_mailer_label_order) %></th>
            <th><%= l(:ppms_mailer_label_logger) %></th>
            <th><%= l(:ppms_mailer_label_issue) %></th>
            <th><%= l(:ppms_mailer_label_date) %></th>
            <th><%= l(:ppms_mailer_label_time) %></th>
            <th><%= l(:ppms_mailer_label_activity) %></th>
            <th><%= l(:ppms_mailer_label_cost) %></th>
        </thead>
        <tbody>
            <% @issues_by_group.values.each do |group_struct| %>
                <% orders = group_struct.orders %>
                <% group_struct.time_entries.values.flatten.each do |time_order| %>
                    <tr>
                        <td><a href="<%= ppms_url(time_order.order_id) %>" target="_blank"><%= time_order.order_id %></a></td>
                        <td><%= time_order.time_entry.user %></td>
                        <td><abbr title="<%= time_order.issue.subject %>"><a href="/issues/<%= time_order.issue.id %>"><%= time_order.issue.id %></a></abbr></td>
                        <td><%= time_order.time_entry.spent_on.strftime('%d/%m') %></td>,
                        <td><%= hours_minutes(time_order.time_entry.hours) %></td>
                        <td><%= time_order.time_entry.activity %></td>
                        <td>&pound;<%= '%.2f' % (orders[time_order.order_id]['Rate'] * time_order.time_entry.hours)%></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
