<% ppms_group = group_struct.group %>
<% issue_ids = group_struct.issues.keys.sort.reverse %>

<style>
table.ppms_report
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table.ppms_report th
{
    text-align: left;
    font-weight: bold;
    font-size: 90%;
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}

table.ppms_report td
{
    text-align: left;
    font-weight: normal;
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<h2>Bioinformatics Core Charges for <%= ppms_group['unitname'] %></h2>

<p>
    Hover over the issue number for its description. Individual time entries are given
    in the attached CSV file.
</p>

<table class="ppms_report" style="width: 100%">
    <thead>
        <tr>
            <th>Bioinformatics Issue#</th>
            <th>Experiment Type</th>
            <th>Researcher</th>
            <th>Time</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <% issue_ids.each do |issue_id| %>
            <% issue = group_struct.issues[issue_id] %>
            <% experiment_type = issue.custom_values.select { |cv| cv.custom_field_id == experiment_type_field.id }.first&.value %>
            <% researcher = issue.custom_values.select { |cv| cv.custom_field_id == researcher_field.id }.first&.value %>

            <% group_struct.orders_by_issue[issue.id].each do |order_id, ppms_order| %>
                <% time_orders = group_struct.time_entries[issue.id].select { |teo| teo.order_id == order_id } %>
                <% total_time = time_orders.inject(0.0) { |sum, teo| sum + teo.time_entry.hours } %>
                <tr>
                    <td><abbr title="<%= issue.subject %>"><%= issue.id %></abbr></td>
                    <td><%= experiment_type %></td>
                    <td><%= researcher %></td>
                    <td><%= my_hours_minutes(total_time) %></td>
                    <td>&pound;<%= '%.2f' % ppms_order['Cost'].to_f %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
