<% content_for :header_tags do %>
<%= stylesheet_link_tag 'ppms.css', :plugin => 'ppms', :media => 'all' %>
<% end %>

<h3><%= l(:ppms_report_title) %></h3>

<%= render partial: 'form_dates' %>

<hr>

<h3><%= l(:ppms_report_title) %>: <%= @intervaltitle %></h3>

<table class="ppms_report">
  <thead>
    <tr><th>ServiceID</th><th>Login</th><th>Quantity</th><th>ProjectID</th><th>CompleteDate</th><th></th><th>User</th><th>Code</th><th>Project</th><th>Issues</th><th>Logs</th></tr>
  </thead>
  <tbody>
    <% @keys.each do |k| %>
      <% e = @entries[k] %>
      <% warn = e[:quant] > @thresh ? "class=\"threshold\"" : "" %>
      <% e[:quant] = e[:quant].round(2) %>
      <tr>
        <td <%=raw warn %>><%= e[:serviceid] %></td>
        <td <%=raw warn %>><%= e[:login] %></td>
        <td <%=raw warn %>><%= e[:quant] %></td>
        <td <%=raw warn %>><%= e[:projectid] %></td>
        <td><%= e[:date] %></td>
        <td></td>
        <td><%= e[:email] %>
            <% if e[:promoted] %><span class="promoted">*</span><% end %></td>
        <td><%= e[:swag] %></td>
        <td><%= render partial: "project_link", locals: {proj: e[:project], pid: e[:pid]} %></td>
        <td><%= render partial: "issue_link", collection: e[:iss].to_a.sort, as: :iss %></td>
        <td><%= e[:logs].to_a.sort.map{|x| "#{x}"}.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><span class="promoted">*</span> <%= l(:ppms_report_asterisks) %></p>

<% @warnings.each do |x| %>
  <p class="threshold">Warning: billing <%= x[0] %> hours to <%= x[2] %>, <%= x[1] %> group.</p>
<% end %>

<h3><%= link_to "COMMIT", "/ppms/index.csv?date_type=#{@params['date_type']}&period_type=#{@params['period_type']}&report_date_from=#{@params['report_date_from']}&report_date_to=#{@params['report_date_to']}&commit_type=commit",
#                          format: 'csv',
#                          date_type: @params['date_type'],
#                          period_type: @params['period_type'],
#                          report_date_from: @params['report_date_from'],
#                          report_date_to: @params['report_date_to'],
#                          interval_type: @params['interval_type']),
                method: :put %>
or 
<%= link_to "SPREADSHEET", "/ppms/index.csv?date_type=#{@params['date_type']}&period_type=#{@params['period_type']}&report_date_from=#{@params['report_date_from']}&report_date_to=#{@params['report_date_to']}&commit_type=spreadsheet",method: :put %>
</h3>
<hr>
<h4><%= l(:ppms_report_billed) %>:</h4>

<table class="ppms_report">
  <thead>
    <tr><th>Order Number</th><th>ServiceID</th><th>Login</th><th>Quantity</th><th>ProjectID</th><th>CompleteDate</th><th></th><th>User</th><th>Code</th><th>Project</th><th>Issues</th><th>Logs</th></tr>
  </thead>
  <tbody>
    <% @bnums.each do |k| %>
      <% e = @billed[k] %>
      <% e[:quant] = e[:quant].round(2) %>
      <tr>
        <td><%= k %></td>
        <td><%= e[:serviceid] %></td>
        <td><%= e[:login] %></td>
        <td><%= e[:quant] %></td>
        <td><%= e[:projectid] %></td>
        <td><%= e[:date] %></td>
        <td></td>
        <td><%= e[:email] %>
            <% if e[:promoted] %><span class="promoted">*</span><% end %></td>
        <td><%= e[:swag] %></td>
        <td><%= render partial: "project_link", locals: {proj: e[:project], pid: e[:pid]} %></td>
        <td><%= render partial: "issue_link", collection: e[:iss].to_a.sort, as: :iss %></td>
        <td><%= e[:logs].to_a.sort.map{|x| "#{x}"}.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<h4>Orphans</h4>
<table class="ppms_report">
  <thead><tr><th>Issue</th><th>Project</th><th>Email</th><th>Cost Code</th><th>Hours</th></tr></thead>
  <tbody>
  <% @orphans.keys.sort.each do |orphid| %>
    <tr>
      <% orph = @orphans[orphid] %>
      <% orph[:quant] = orph[:quant].round(2) %>
      <td><%= render partial: "issue_link", locals: {iss: orph[:issue]} %></td>
      <td><%= render partial: "project_link", locals: {proj: orph[:project], pid: orph[:pid]} %></td>
      <td><%= orph[:who] %>
          <% if orph[:promoted] %><span class="promoted">*</span><% end %></td>
      </td>
      <td><%= orph[:swag] %></td>
      <td><%= orph[:quant] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if false %>
<hr>
<h3>Parameters</h3>
<table>
<% @params.keys.each do |k| %>
  <tr><td><%= k %></td><td><%= @params[k] %></td></tr>
<% end %>
<tr><td>from</td><td><%= @from %></td></tr>
<tr><td>to</td><td><%= @to %></td></tr>
<tr><td>title</td><td><%= @intervaltitle %></td></tr>
</table>
<% end %>
